* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:'Courier New', Courier, monospace;
  caret-color: transparent;
}

h2 {
  color: aliceblue;
  z-index: 2;
  position: absolute;
  font-size: 1.5rem;
}