* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    overflow-x: hidden;
}

canvas {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}


.text {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text h1 {
    color: rgb(44, 199, 255);
    font-size: 10rem;
    text-shadow: 0 0 5px rgb(44, 199, 255);
}

.extra {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.extra h1 {
    text-shadow: 0 0 3px rgb(0, 0, 0);
    color: black;
}

#preloader {
    background: rgb(255, 255, 255) url(cloud.gif) no-repeat center;
    background-size: 50%;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
}